{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage", // alternative mode: "entry"
            "corejs": 3, // default would be 2
            "targets": "> 0.25%, not dead" 
            // set your own target environment here (see Browserslist)
          }],
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "api": "./src/api",
                    "assets": "./src/assets",
                    "components": "./src/components",
                    "config": "./src/config",
                    "constants": "./src/constants",
                    "helpers": "./src/helpers",
                    "store": "./src/store",
                    "theme": "./src/theme",
                    "router": "./src/router"
                }
            }
        ],
        "styled-components"
    ]
}